h1 {
    color: navy;
}
h1 {
    color: ivory;
}
body {
    color: ivory;
}
body {
    background-color:  dimgray;
}
p {
    background-color: grey;
    font-family:'Courier New', Courier, monospace;
}
img {
    border-radius: 30px
}
header {
    font-style: italic;
    mmmmmmmmmmmmmmmm
}